<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="smartManage.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <smartManage.Model.Properties.Settings>
            <setting name="strChaineConnexion" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterDirectory" serializeAs="String">
                <value>SmartManage</value>
            </setting>
            <setting name="DirectoryUtilLog" serializeAs="String">
                <value>Log</value>
            </setting>
            <setting name="DirectoryUtilConn" serializeAs="String">
                <value>ConnectionString</value>
            </setting>
            <setting name="FileSQLServer" serializeAs="String">
                <value>UserSQLSever.txt</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>LogFile.txt</value>
            </setting>
        </smartManage.Model.Properties.Settings>
    </userSettings>
</configuration>
