<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="smartManage.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <smartManage.Desktop.Properties.Settings>
            <setting name="UserConnected" serializeAs="String">
                <value>Aucun utilisateur n'est encore connecté</value>
            </setting>
            <setting name="strFormModifieSubForm" serializeAs="String">
                <value />
            </setting>
            <setting name="IdentifiantPersonne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StringLogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterDirectory" serializeAs="String">
                <value>SmartManage</value>
            </setting>
            <setting name="DirectoryUtilLog" serializeAs="String">
                <value>Log</value>
            </setting>
            <setting name="DirectoryUtilConn" serializeAs="String">
                <value>ConnectionString</value>
            </setting>
            <setting name="FileSQLServer" serializeAs="String">
                <value>UserSQLSever.txt</value>
            </setting>
            <setting name="DirectoryUtilConnRadAdmin" serializeAs="String">
                <value>ConnectionStringRadius</value>
            </setting>
            <setting name="DirectoryUtilConnRadStudent" serializeAs="String">
                <value />
            </setting>
            <setting name="FileRadAdmin" serializeAs="String">
                <value>UserRadAdmin.txt</value>
            </setting>
            <setting name="FileRadStudent" serializeAs="String">
                <value>UserRadStudent.txt</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>LogFile.txt</value>
            </setting>
            <setting name="LogFileNameRadiusAdmin" serializeAs="String">
                <value>LogFileRadiusAdmin.txt</value>
            </setting>
            <setting name="LogFileNameRadiusStudent" serializeAs="String">
                <value>LogFileRadiusStudent.txt</value>
            </setting>
        </smartManage.Desktop.Properties.Settings>
    </userSettings>
</configuration>
